@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) { /* versão para tablet */
    

    body{
        background-image: linear-gradient(to top, #10403B, #4C5958);
    }

    section#login{
        width: 80vw;
        height: 280px;
    }

    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
    }

    div#formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) { /* versão para telas grandes */


    body{
        background-image: linear-gradient(to top, #10403B, #4C5958);
    }

    section#login{
        width: 950px;
        height: 390px;
    }

    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 2em;
    }

    div#formulario > p{
        font-size: 1.1em;
        margin: 20px 0px;
    }
    
    
    
}
